.advising-pannel-container {
  position: relative;
}

.advising-pannel-inner-container {
  position: relative;
  padding: 0.5rem 2.1rem 0.5rem 2.1rem;
  background-color: var(--background-color);
}

.advising-pannel-container.blur .advising-pannel-inner-container {
  filter: blur(5px);
  pointer-events: none;
}

/* .advising-pannel-inner-container.blur {
  position: relative;
  filter: blur(5px);
  pointer-events: none;
} */

.haveClash-container.active {
  display: block;
}

.haveClash-container {
  display: none;
  position: absolute;
  top: 20%;
  left: 30%;
  padding: 1rem;
  width: 40%;
  height: auto;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  border-radius: 0.5rem;
  background-color: var(--element-background-color);
  z-index: 10;
  text-align: start;
}

.clash-cancel-button {
  text-align: end;
  /* background-color: red; */
}

.fa-Xmark-btn {
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
}

.clash-text-holder {
  padding: 0.05rem;
  height: 80px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  /* background-color: red; */
}

.clash-text {
  color: red;
  font-weight: 550;
  font-size: 0.9rem;
  /* display: inline-block;
  word-wrap: break-word;
  white-space: normal;
  max-width: 100%; */
}

.clash-text-div {
  margin-top: 0.5rem;
}

.clash-text-div > li {
  font-size: 0.75rem;
  font-weight: 520;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.advising-pannel-student-info {
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  display: grid;
  grid-template-columns: 35% 32.5% 32.5%;
  background-color: var(--element-background-color);
  border-radius: 0.5rem;
  /* box-shadow: -1.5px 1.5px 1px #bdbdbd, 1.5px 1.5px 1px #bdbdbd,
    0 1.5px 1px #bdbdbd, 0 -1.5px 1px #bdbdbd; */
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

.advising-pannel-first-info {
  font-size: 0.8rem;
  /* font-weight: 550; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}

.advising-pannel-first-info span {
  font-weight: 550;
}

.advising-pannel-window {
  margin-top: 1.5rem;
  padding: 0.5rem;
  /* background-color: #d9d9d9; */
  border-radius: 0.5rem;
  /* box-shadow: -1.5px 1.5px 1px #bdbdbd, 1.5px 1.5px 1px #bdbdbd,
    0 1.5px 1px #bdbdbd, 0 -1.5px 1px #bdbdbd; */

  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  /* background-color: var(--element-background-color); */
}

/* .advising-pannel-search-course {
  width: 100%;
} */

.advising-pannel-title-01 {
  font-size: 1rem;
  font-weight: 550;
  text-decoration: underline;
}

.advising-pannel-search-bar {
  margin-top: 0.5rem;
  width: 35%;
  /* width: 50%; */
}

.advising-pannel-course-selection {
  display: grid;
  grid-template-columns: 35% 35% auto;
  /* grid-template-columns: 50% auto; */
  gap: 0.5rem;
  /* grid-template-rows: 250px 250px 250px auto; */
}

.advising-pannel-select-course {
  display: flex;
  flex-direction: column;
}

.advising-pannel-select-course p {
  font-size: 0.95rem;
  font-weight: 550;
}

.advising-pannel-courses {
  overflow-y: scroll;
  list-style-type: none;
  padding: 0.7rem;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  border: 1px solid #949393;
  border: 0.1rem solid #dadce0;
  /* overflow: hidden; */
}

.advising-pannel-course {
  padding: 0.4rem 1rem 0.4rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  /* border: 1px solid #949494; */
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

.advising-course-info {
  font-size: 0.85rem;
  font-weight: 550;
}

.advising-course-add-btn {
  padding: 0.3rem 0.5rem 0.4rem 0.5rem;
  font-weight: 550;
  border-radius: 0.4rem;
  color: #ffffff;
  /* background-color: #6a6af9; */
  background-color: #007eff;
  border: none;
  cursor: pointer;
}

.advising-course-drop-btn {
  padding: 0.3rem 0.5rem 0.4rem 0.5rem;
  font-weight: 550;
  border-radius: 0.4rem;
  color: #ffffff;
  background-color: #fc3776;
  /* background-color: #FE0909; */
  border: none;
  cursor: pointer;
}

.advising-pannel-course-sechedule {
  display: flex;
  flex-direction: column;
}

.advising-pannel-course-sechedule p {
  font-size: 0.95rem;
  font-weight: 550;
}

.advising-pannel-course-time {
  padding: 1rem;
  height: 250px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: #ffffff;
  border: 1px solid #949393;
  border-radius: 0.5rem;
}

.advising-pannel-course-time > span {
  display: flex;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.advising-pannel-semester-routine {
  margin-top: 1rem;
  padding: 0.5rem;
  /* background-color: #d9d9d9; */
  border-radius: 0.5rem;
  /* box-shadow: -1.5px 1.5px 1px #bdbdbd, 1.5px 1.5px 1px #bdbdbd,
    0 1.5px 1px #bdbdbd, 0 -1.5px 1px #bdbdbd; */
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  background-color: var(--element-background-color);
}

.advising-pannel-semester-routine span {
  font-size: 0.95rem;
  font-weight: 550;
}

.advising-pannel-class-schedule {
  background-color: #ffffff;
}

.advising-pannel-not-eligible {
  padding: 1.5rem;
  text-align: center;
  height: 30dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #2a4172;
  color: #dc143c;
  color: #dc14c3;
  color: #008080;
  color: #2f4f4f;
  border-radius: 0.35rem;
  background-color: var(--element-background-color);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

.advising-pannel-not-eligible > span {
  font-size: 1.4rem;
  font-weight: 550;
  display: inline-block;
  word-wrap: break-word;
  white-space: normal;
  max-width: 100%;
  color: transparent;
  background: linear-gradient(120deg, red, blue);
  background-clip: text;
}

/* SeatStatus.jsx Component */
.seatStatus-inner-container {
  padding: 0.5rem 2.1rem 0.5rem 2.1rem;
  /* height: calc(100dvh - 3rem); */
}

.seatStatus-title {
  font-size: 1.1rem;
  font-weight: 550;
}

.seatStatus-info-list {
  margin-top: 0.2rem;
  margin-bottom: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 15% 23% 32% 15% auto;
  border-top: 1px solid #666e75;
  background-color: var(--element-background-color);
}

.seatStatus-info-list-inner {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 15% 23% 32% 15% auto;
}

.seatStatus-info-items {
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  hyphens: auto;
  display: grid;
  font-size: 0.8rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-bottom: 1px solid #666e75;
  border-right: 1px solid #666e75;
  /* justify-items: center; */
  align-items: center;
}

.seatStatus-info-item-id {
  border-left: 1px solid #666e75;
}

.seatStatus-list-header {
  font-size: 0.8rem;
  font-weight: 550;
}

.no-course-found {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #007eff;
}

/* AdvisedCourses.jsx */
.advised-courses-inner-container {
  padding: 0 2.1rem 0.5rem 2.1rem;
}

.advised-courses-list {
  margin-top: 0.5rem;
  padding: 1rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #dadce0;
  background-color: var(--element-background-color);
}

.advised-courses-title {
  text-decoration: underline;
  font-size: 1rem;
  font-weight: 550;
}

.advised-courses-info-list {
  margin-top: 0.4rem;
  margin-bottom: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 15% 20% 30% 20% 15%;
  border-top: 1px solid #666e75;
}

.advised-courses-info-list-inner {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 15% 20% 30% 20% 15%;
}

.advised-courses-info-items {
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  hyphens: auto;
  display: grid;
  font-size: 0.8rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-bottom: 1px solid #666e75;
  border-right: 1px solid #666e75;
  /* justify-items: center; */
  align-items: center;
}

.advised-courses-info-item-id {
  border-left: 1px solid #666e75;
}

.advised-courses-list-header {
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  hyphens: auto;
  font-size: 0.8rem;
  font-weight: 550;
}

/* AdminAdvising.jsx */
.adminAdvising-container {
  padding: 0.5rem 2.1rem 0.5rem 2.1rem;
}

/* .adminAdvising-inner-container {
  width: 100%;
  background-color: red;
} */

.gradeSheetIndividual-create-semester-form {
  margin: auto;
}

.adminAdvising-create-slot-container {
  margin-top: 1rem;
  padding: 0.9rem 1rem;
  border-radius: 0.4rem;
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
  /* background-color: red; */
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  background-color: var(--element-background-color);
}

.create-slot-title {
  font-size: 1rem;
  font-weight: 550;
}

.adminAdvising-slot-items {
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
}

.adminAdvising-credit-range {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.slot-items-inner {
  width: 50%;
}

#slotTime {
  width: 100%;
  background-color: var(--element-background-color);
}

.slot-items-inner > input {
  width: 100%;
}

.adminAdvising-slot-items label {
  font-size: 0.8rem;
  font-weight: 550;
  color: #5a5a5b;
}

.adminAdvising-slot-items input {
  padding: 0.4rem 0.5rem;
  font-size: 0.75rem;
  border-radius: 0.35rem;
  border: 0.1rem solid #dadce0;
}

.adminAdvising-slot-items input:focus {
  outline: none;
  border: 0.1rem solid #007eff;
}

.create-advising-slot-btn {
  margin-top: 0.4rem;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.5rem;
  border-radius: 0.45rem;
  border: transparent;
  color: var(--element-background-color);
  background-color: #007eff;
}

.create-advising-slot-btn:focus,
.create-advising-slot-btn:hover {
  /* border: none; */
  outline: none;
  background-color: #0b78e4;
}

.adminAdvising-available-slots-container {
  margin-top: 1.5rem;
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--element-background-color);
  border: 0.1rem solid #dadce0;
}

.adminAdvising-slot-toApprove {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.35rem;
  /* border: 0.1rem solid #dadce0; */
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

.adminAdvising-panel-details {
  display: flex;
  flex-direction: column;
}

.adminAdvising-panel-details > span {
  font-size: 0.85rem;
}

/* .slot-datetime-special {
  font-size: 0.5rem;
} */

.advising-approve-btn {
  padding: 0.4rem 0.6rem 0.4rem 0.6rem;
  font-weight: 550;
  border-radius: 0.35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: var(--element-background-color);
  background-color: #007eff;
  cursor: pointer;
}

.nothing-available {
  margin-top: 0.8rem;
  text-align: center;
  font-size: 1.2rem;
  color: #007eff;
}

@media (min-width: 1240px) {
  /* .advising-pannel-course-selection {
    grid-template-columns: 35% 35% auto;
  } */

  /* .adminAdvising-inner-container {
    margin: auto;
    max-width: 70%;
  } */

  .gradeSheetIndividual-create-semester-form {
    margin-bottom: 1rem;
    width: 50%;
  }

  .adminAdvising-create-slot-container {
    margin: auto;
    width: 50%;
    /* background-color: red; */
  }

  .create-advising-slot-btn {
    margin: auto;
    margin-top: 0.4rem;
    width: 50%;
  }

  .adminAdvising-available-slots-container {
    margin: auto;
    margin-top: 1.5rem;
    width: 50%;
  }

  .haveClash-container {
    top: 35%;
    left: 40%;
    width: 25%;
    height: 180px;
  }
}

/* @media (max-width: 980px) {
  .advising-pannel-course-selection {
    grid-template-columns: 35% 35% auto;
  }
} */

@media (max-width: 780px) {
  .advising-pannel-search-bar {
    width: 100%;
  }

  .advising-pannel-course-selection {
    grid-template-columns: auto;
    grid-template-rows: 250px 250px 250px auto;
  }
}

@media (max-width: 480px) {
  .advising-course-info {
    font-size: 0.7rem;
  }

  .advising-course-add-btn {
    padding: 0.3rem 0.65rem 0.4rem 0.65rem;
    font-size: 0.75rem;
  }

  .advising-course-drop-btn {
    padding: 0.3rem 0.65rem 0.4rem 0.65rem;
    font-size: 0.75rem;
  }

  .seatStatus-info-list {
    font-size: 0.7rem;
  }

  .seatStatus-info-list-inner {
    font-size: 0.7rem;
  }

  .advising-pannel-course-time > span {
    font-size: 0.8rem;
  }

  .adminAdvising-slot-items input {
    font-size: 0.7rem;
  }

  .create-advising-slot-btn {
    font-size: 0.75rem;
  }

  .adminAdvising-panel-details > span {
    font-size: 0.67rem;
  }

  .advising-approve-btn {
    font-size: 0.65rem;
  }

  .advising-pannel-not-eligible > span {
    font-size: 1.1rem;
  }

  .adminAdvising-container {
    padding: 0.5rem 1.4rem 0.5rem 1.4rem;
  }

  .advising-pannel-inner-container {
    padding: 0.5rem 1.4rem 0.5rem 1.4rem;
  }

  .seatStatus-inner-container {
    padding: 0.5rem 1.5rem 0.5rem 1.35rem;
  }

  .advised-courses-inner-container {
    padding: 0 1.35rem 0.5rem 1.35rem;
  }

  .haveClash-container {
    top: 17%;
    left: 25%;
    width: 50%;
    /* height: 140px; */
  }

  .clash-text {
    font-size: 0.8rem;
  }

  .advised-courses-info-list-inner > li {
    font-size: 0.7rem;
  }

  .advised-courses-list-header {
    font-size: 0.76rem;
  }
}
