/* .classroom-container {
  padding: 1rem 2.1rem 0.5rem 2.1rem;
  background-color: var(--background-color);
} */

.classroom-inner-container {
  padding: 1rem 2.1rem 0.5rem 2.1rem;
  background-color: var(--element-background-color);
}

/* .classroom-create-class-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--element-background-color);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
} */

.classroom-create-form {
  margin: auto;
  width: 100%;
  padding: 0.8rem;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  background-color: var(--element-background-color);
}

.classroom-create-title-name {
  /* display: grid; */
  /* grid-template-columns: 50% auto; */
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.classroom-create-title-name input {
  width: 50%;
  padding: 0.4rem 0.6rem 0.4rem 0.6rem;
  font-size: 0.75rem;
  font-weight: 550;
  border-radius: 0.5rem;
  /* border: 1px solid #8a8989; */
  border: 0.1rem solid #dadce0;
}

.classroom-create-semester-request {
  display: grid;
  grid-template-columns: 65% auto;
  gap: 0.5rem;
}

.classroom-create-semester-request input {
  padding: 0.4rem 0.6rem 0.4rem 0.6rem;
  font-size: 0.75rem;
  font-weight: 550;
  border-radius: 0.5rem;
  border: 0.1rem solid #dadce0;
}

.classroom-create-btn {
  border-radius: 0.4rem;
  /* border: 1px solid #8a8989; */
  font-size: 0.8rem;
  font-weight: 550;
  color: var(--element-background-color);
  background-color: var(--text-color);
  border: none;
  cursor: pointer;
}

.classroom-create-title-name input:focus,
.classroom-create-semester-request input:focus {
  border: 0.1rem solid #007bff;
  /* outline: 0.1rem solid #007bff; */
  outline: none;
}

.operation-statement {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.no-classroom-available-for-you {
  padding-top: 15rem;
  /* height: 87.55vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.text {
  font-size: 1.5rem;
  font-weight: 550;
  color: #000000;
  /* opacity: 0; */
  /* animation: fadeInOut 3s infinite; */
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}

.classroom-classes-container {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.classroom-individual-class {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  /* border-radius: 0.5rem; */
  /* border: 1px solid #d2d1d1; */
  border-radius: 0.5rem;
  overflow: hidden;
  border: 0.1rem solid #dadce0;
}

.classroom-individual-class:hover {
  text-decoration: none;
  color: inherit;
  /* box-shadow: -1.5px 1.5px 1.5px #dedede, 1.5px 1.5px 1.5px #dedede,
    0 1.5px 1.5px #dedede; */
  border: none;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

.classroom-top-section {
  padding: 0.8rem 1rem 0.8rem 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-radius: 0.5rem 0.5rem 0 0; */
  background: conic-gradient(from 30deg, #6adef9, #fffe75);
}

.classroom-owner-picture {
  width: 70px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.5rem;
  background-color: black;
}

.classroom-owner-picture-alter {
  font-size: 1.5rem;
  font-weight: 700;
  width: 70px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 2.5rem;
  background-color: black;
}

.classroom-vertical-menu {
  position: absolute;
  padding: 0.3rem;
  width: 25px;
  height: 25px;
  top: 1rem;
  right: 1rem;
  border-radius: 1rem;
  /* z-index: 10; */
}

.classroom-vertical-menu:hover {
  background-color: rgba(186, 186, 186, 0.5);
}

.classroom-inner-option-not-active {
  display: none;
}

.classroom-inner-option {
  position: absolute;
  top: 3.2rem;
  right: 2rem;
  width: 100px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  border-radius: 0.2rem;
  background-color: var(--element-background-color);
  box-shadow: 1px 1px 1px #dedede, 0 1px 1px #dedede;
}

.classroom-inner-option-link {
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 550;
  color: #000000;
}

.classroom-inner-option-link:hover {
  background-color: #dedede;
}

.classroom-bottom-section {
  text-decoration: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  color: #000000;
  background-color: var(--element-background-color);
  /* border-bottom-left-radius: 0.5rem; */
  /* border-bottom-right-radius: 0.5rem; */
}

.classroom-couseCode {
  text-decoration: underline;
  font-size: 1.2rem;
  font-weight: 550;
}

.classroom-courseName {
  font-size: 1.1rem;
  font-weight: 550;
}

/* ClassroomIndividual.jsx */
.classroomIndividual-container {
  padding: 0.5rem 2.1rem 0.5rem 2.1rem;
  display: flex;
  justify-content: center;
}

.classroomIndividual-inner-container {
  width: 100%;
}

.classroomIndividual-banner-container {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 0.0625rem solid #dadce0;
  background-image: url(https://cdn.shopify.com/s/files/1/0070/7032/files/how_20to_20create_20an_20online_20course.jpg?v=1683755321);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background: conic-gradient(from 90deg, red, green, blue); */
}

.classroomIndividual-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--element-background-color);
}

/* .classroomIndividual-info > * {
  background-image: linear-gradient(90deg, red, blue);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
} */

.classroomIndividual-title {
  font-size: 2rem;
  font-weight: 700;
}

.classroomIndividual-name {
  font-size: 1.3rem;
  font-weight: 700;
}

.classroomIndividual-semester {
  font-weight: 700;
}

.classroomIndividual-navbar-container {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  border: 0.1rem solid #dadce0;
  /* border: 0.0625rem solid #dadce0; */
  background-color: var(--element-background-color);
  /* background-color: #ffffff; */
}

.classroomIndividual-navbar {
  padding: 0.5rem 0 0.5rem 0;
  list-style-type: none;
  display: flex;
  gap: 0.8rem;
  font-size: 0.85rem;
  font-weight: 550;
  color: #5f5f5f;
}

.classroomIndividual-item-link {
  position: relative;
  text-decoration: none;
  color: #5f5f5f;
}

.classroomIndividual-item-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.2rem;
  width: 100%;
  height: 0.15rem;
  background-color: #007bff;
  border-radius: 0.5rem;
}

.classroomIndividual-create-post-container {
  padding: 1rem;
  /* height: 200px; */
  margin-top: 1rem;
  /* border: 0.1rem solid #dadce0; */
  border-radius: 0.5rem;
  background-color: var(--element-background-color);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 50px 2px rgba(60, 64, 67, 0.15);
}

/* .classroomIndividual-create-post-form {
  display: flex;
  flex-direction: column;
} */

.content {
  width: 100%;
  min-height: 70px;
  padding: 0.6rem 0.8rem 0.5rem 0.8rem;
  box-sizing: border-box;
  /* overflow-y: scroll; */
  resize: vertical;
  /* resize: none; */
  border-radius: 0.5rem;
  border: 0.1rem solid #dadce0;
}

.content:focus {
  border: none;
  outline: 0.08rem solid #6464ef;
}

.file-input-cancel-post {
  margin-top: 0.3rem;
  display: grid;
  grid-template-columns: 50% auto;
  align-items: center;
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
}

.cancel-post-btn {
  display: flex;
  gap: 0.5rem;
  justify-content: end;
}

.cancel-btn {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 0.35rem;
  font-weight: 600;
  border: none;
  background-color: #c9caca;
  cursor: pointer;
}

.post-btn {
  padding: 0.5rem 0.7rem 0.5rem 0.7rem;
  border-radius: 0.35rem;
  font-weight: 600;
  color: var(--element-background-color);
  border: none;
  background-color: #007bff;
  cursor: pointer;
}

.create-post-status {
  text-align: center;
  font-size: 0.7rem;
}

.classroomIndividual-members-container {
  /* padding: 1rem; */
  margin-top: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* background-color: var(--element-background-color); */
}

.classroomIndividual-posts-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.classroomIndividual-post {
  padding: 1rem 1rem 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  /* border: 0.1rem solid #dadce0; */
  border: 0.0625rem solid #dadce0;
  background-color: var(--element-background-color);
}

.classroomIndividual-post-owner-info {
  position: relative;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  /* background-color: red; */
}

.classIndividual-post-actions {
  position: absolute;
  inset: 0 0 auto auto;
}

.classIndividual-post-action-bar {
  position: absolute;
  padding: 0.4rem;
  width: 18px;
  height: 18px;
  /* background-color: red; */
  inset: 0 0 auto auto;
  border-radius: 50%;
}

.classroomIndividual-delete-post.not-active {
  display: none;
  overflow: hidden;
}

.classroomIndividual-delete-post {
  display: block;
  position: absolute;
  padding: 0.5rem;
  width: 80px;
  inset: 1.5rem 1.5rem auto auto;
  border-radius: 0.3rem;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  background-color: var(--element-background-color);
}

.classIndividual-post-action-bar:hover {
  background-color: #dadce0;
}

.classroomIndividual-post-delete-btn {
  border: none;
  width: 100%;
  padding: 0.25rem;
  font-size: 0.75rem;
  font-weight: 520;
  border-radius: 0.3rem;
  background: transparent;
  /* background-color: red; */
  text-align: start;
}

.classroomIndividual-post-delete-btn:hover {
  background-color: #dadce0;
}

.classroomIndividual-owner-img {
  width: 35px;
  height: 35px;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  background-color: var(--text-color);
}

.post-owner-profileimg {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.classroomIndividual-owner-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.classroomIndividual-owner-info .owner-name {
  font-weight: 550;
  font-size: 0.9rem;
}

.classroomIndividual-owner-info .date-posted {
  font-size: 0.7rem;
}

.classroomIndividual-post-content {
  margin-top: 0.5rem;
  font-size: 0.95rem;
}

.classroomIndividual-post-files {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  /* overflow: hidden; */
}

.individual-file {
  padding: 0.3rem 0.35rem 0.3rem 0.5rem;
  font-size: 0.7rem;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.35rem;
  border: 0.005rem solid #afaeae;
}

.download-file-btn {
  width: 15px;
  height: 15px;
  border: none;
  cursor: pointer;
}

.classroomIndividual-post-comments-div {
  margin-top: 0.5rem;
  padding: 0.2rem 0 0 0;
  /* border-top: 0.1rem solid #dadce0; */
  border-top: 0.0625rem solid #dadce0;
}

.posts-total-comments-btn {
  font-size: 0.9rem;
  font-weight: 550;
  color: #5f5f5f;
  border: none;
  background-color: transparent;
}

/* .classroomIndividual-post-comments-not-active {
  display: none;
} */

.classroomIndividual-post-comment {
  display: flex;
  gap: 0.5rem;
}

.comments-container {
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.comments-container.active {
  max-height: 1000px;
}

.post-comment-owner-img {
  width: 30px;
  height: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--element-background-color);
  background-color: #000000;
}

.comment-owner-profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.post-comment-details {
  padding: 0;
  margin-top: -0.25rem;
}

.comment-owner-name {
  font-size: 0.8rem;
  font-weight: 550;
}

.comment-owner-name small {
  font-weight: normal;
}

.classroomIndividual-make-comment {
  padding: 1rem 0 0.7rem 0;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  /* border-top: 0.1rem solid #dadce0; */
  border-top: 0.0625rem solid #dadce0;
}

.current-commentor {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 700;
  color: var(--element-background-color);
  background-color: #000000;
}

.comment {
  width: 75%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #dadce0;
  /* border: 0.0625rem solid #dadce0; */
  /* background-color: var(--element-background-color); */
}

.comment:focus {
  border: none;
  outline: 0.1rem solid #007bff;
}

.make-comment-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 550;
  border: none;
  color: var(--element-background-color);
  background-color: #007bff;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .classroomIndividual-inner-container {
    width: 70%;
    /* background-color: red; */
  }

  .classroom-create-form {
    width: 50%;
  }
}

@media (max-width: 940px) {
  .classroom-classes-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 560px) {
  .classroom-classes-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .comment {
    width: 65%;
  }

  .make-comment-btn {
    width: 25%;
    font-size: 0.75rem;
    font-weight: 600;
  }

  .classroom-create-btn {
    font-size: 0.6rem;
  }

  .classroomIndividual-owner-info .owner-name {
    font-size: 0.8rem;
  }

  .comment-owner-name {
    font-size: 0.77rem;
    font-weight: 550;
  }

  .post-comment-details > p {
    font-size: 0.95rem;
  }

  .classroom-inner-container {
    padding: 0.5rem 1.35rem 0.5rem 1.35rem;
  }

  .classroomIndividual-container {
    padding: 0.5rem 1.35rem 0.5rem 1.35rem;
  }
}
