/* Home */
.home-container {
  position: relative;
}

.home-inner-container {
  padding: 0.5rem 2.1rem 0.5rem 2.1rem;
  height: calc(100dvh - 10rem);
  /* background-color: red; */
}

/* 
.footer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
} */

/* Finance */
.finance-container {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 1rem 2.1rem 0.5rem 2.1rem;
  height: calc(100dvh - 4rem);
}

.finance-inner-container {
  position: relative;
  width: 100%;
}

.finance-container.blur .finance-inner-container {
  filter: blur(5px);
  pointer-events: none;
}

.finance-payment-status {
  padding: 1rem 1rem 0 1rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #dadce0;
  background-color: var(--element-background-color);
}

.finance-payment-status-title {
  width: 100%;
  font-size: 0.95rem;
  font-weight: 550;
  color: #777777;
}

.finance-payment-status-form {
  margin-top: 0.2rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 70% auto;
}

.selectSemester {
  padding: 0.45rem 0.5rem 0.45rem 0.5rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #d2d2d6;
  background-color: var(--element-background-color);
}

.selectSemester:focus {
  border: 0.1rem solid #0077ef;
  outline: none;
  /* outline: 0.1rem solid #0077ef; */
}

.finance-payment-status-btn {
  border-radius: 0.4rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--element-background-color);
  background-color: #0077ef;
  border: none;
  cursor: pointer;
}

.finance-payment-status-popup {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.finance-payment-status-popup.active {
  max-height: 100px;
}

.finance-payment-paid,
.finance-payment-unpaid {
  padding: 0.35rem 0.5rem 0.35rem 0.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  border-radius: 0.4rem;
}

.not-active {
  display: none;
}

.finance-payment-paid {
  color: #19c42d;
  border: 0.1rem solid #19c42d;
}

.finance-payment-paid:hover {
  color: #ffffff;
  background-color: #19c42d;
}

.finance-payment-unpaid {
  color: hsl(0, 270%, 50%);
  border: 0.1rem solid hsl(0, 270%, 50%);
}

.finance-payment-unpaid:hover {
  color: #ffffff;
  background-color: hsl(0, 270%, 50%);
}

.finance-payment-slip-form {
  width: 100%;
  margin-top: 1.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  border: 0.1rem solid #dadce0;
  background-color: var(--element-background-color);
}

.finance-payment-semester-bank {
  width: 100%;
  margin-top: 0.3rem;
  display: grid;
  grid-template-columns: 40% auto;
  gap: 0.6rem;
}

.finance-payment-bank-online-btns {
  width: 100%;
  margin-top: 0.6rem;
  display: grid;
  gap: 0.6rem;
  grid-template-columns: repeat(2, 1fr);
}

.selectPaymentSemester,
.selectBank {
  padding: 0.45rem 0.5rem 0.45rem 0.5rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #d2d2d6;
  background-color: var(--element-background-color);
}

.selectPaymentSemester:focus,
.selectBank:focus {
  border: 0.1rem solid #0077ef;
  outline: none;
}

.download-slip-btn,
.digital-pay-btn {
  padding: 0.5rem;
  border-radius: 0.4rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--element-background-color);
  background-color: #0077ef;
  border: none;
  cursor: pointer;
}

.download-slip-btn {
  background-color: #6c757d;
}

.digital-pay-btn {
  background-color: #28a745;
}

/* GradeSheet.jsx */
.gradeSheet-container {
  padding: 0.5rem 2.1rem 0.5rem 2.1rem;
  width: 100%;
}

.gradSheet-student-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}

.gradeSheet-inner-container {
  padding: 0 0.5rem 0.5rem 0.5rem;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  background-color: var(--element-background-color);
  /* background-color: red; */
}

/* GradeSheetIndividual.jsx */
.gradeSheetIndividual-container {
  padding-top: 0.5rem;
}

.gradeSheetIndividual-inner-container {
  padding: 0 2.1rem 0.5rem 2.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: var(--element-background-color); */
}

.make-gradesheet-button-container {
  width: 100%;
  margin-top: 0.4rem;
  text-align: center;
}

.gradeSheetIndividual-create-gradesheet-btn {
  padding: 0.6rem 1rem 0.6rem 1rem;
  width: 100%;
  border-radius: 0.4rem;
  font-size: 0.9rem;
  font-weight: 550;
  border: none;
  color: #ffffff;
  background-color: #19c42d;
  /* background-color: #007bff; */
  cursor: pointer;
  transition: background-color 0.3s;
}

.gradeSheetIndividual-create-gradesheet-btn:hover,
.gradeSheetIndividual-create-gradesheet-btn:focus {
  outline-color: transparent;
  background-color: #27a542;
}

.gradeSheetIndividual-create-semester-form {
  padding: 1rem;
  width: 100%;
  display: grid;
  gap: 0.6rem;
  grid-template-columns: 70% auto;
  background-color: var(--element-background-color);
  border-radius: 0.35rem;
  /* box-shadow: 2px 0 6px -2px #dadce0, 0 2px 6px -2px #dadce0,
    -2px 0 6px -2px #dadce0; */
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

.gradeSheetIndividual-semester-input {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #dadce0;
}

.gradeSheetIndividual-semester-input:focus {
  border: 0.1rem solid #0077ef;
  outline: none;
}

.gradeSheetIndividual-semester-course-container {
  margin-top: 1rem;
  width: 100%;
  padding: 0.8rem 0.8rem 0.2rem 0.8rem;
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
  border-radius: 0.3rem;
  border: 0.1rem solid #dadce0;
  background-color: var(--element-background-color);
}

/* .gradeSheetIndividual-semesters-container {
  padding: 0.5rem;
  background-color: #d2d2d6;
} */

.gradeSheetIndividual-semester-name {
  padding: 0.5rem 1rem;
  font-weight: 550;
  border-radius: 0.3rem;
  border: none;
  background-color: var(--element-background-color);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  cursor: pointer;
}

.gradeSheetIndividual-semester-course-grade-update-from {
  /* display: none; */
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
  overflow: hidden;
  max-height: 0;
  display: grid;
  gap: 0.4rem;
  grid-template-columns: 35% 25% 20% auto;
  border-radius: 0.35rem;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.gradeSheetIndividual-semester-course-grade-update-from.visible {
  max-height: 200px; /* Set to the max height of your content */
  padding: 0.5rem;
  /* border: 0.1rem solid #dadce0; */
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 10px 2px rgba(60, 64, 67, 0.15);
}

.gradeSheetIndividual-semester-course-grade-update-from.hidden {
  max-height: 0;
  padding: 0 0.5rem;
}

.course-grade-options {
  padding: 0.4rem 0.7rem;
  border: 0.1rem solid #dadce0;
  border-radius: 0.3rem;
}

.course-grade-options:focus {
  outline: none;
  border: 0.1rem solid #0077ef;
}

.gradeSheetIndividual-course-grade-btn {
  font-weight: 550;
  border-radius: 0.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #ffffff;
  background-color: #0077ef;
  cursor: pointer;
}

.gradeSheetIndividual-course-grade-btn:hover,
.gradeSheetIndividual-course-grade-btn:focus {
  outline-color: transparent;
  background-color: #0973dd;
}

.semesters-container-title {
  font-size: 0.9rem;
  font-weight: 550;
  color: #737373;
}

.gradeSheetIndividual-gradeSheet-container {
  margin-top: 0.5rem;
  padding: 0.8rem;
  width: 100%;
  border: 0.1rem solid #dadce0;
  background-color: var(--element-background-color);
}

.gradeSheetIndividual-gradeSheet-basic-info {
  margin-bottom: 0.5rem;
  /* padding: 0 0.1rem 0 0.1rem; */
  font-size: 0.9rem;
  /* font-weight: 550; */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  /* color: #585858; */
}

.gradeSheetIndividual-gradeSheet-basic-info > span {
  font-size: 0.8rem;
}

.all-gradeSheet-title {
  font-size: 1.1rem;
  font-weight: 550;
}

.gradeSheet-info-list {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 20% 32% 16% 16% 16%;
  border-top: 1px solid #666e75;
  color: var(--element-background-color);
  background-color: #37363d;
}

.gradeSheet-info-list-inner {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 20% 32% 16% 16% 16%;
}

.gradeSheet-info-list-inner-total {
  /* list-style-type: none; */
  font-size: 0.8rem;
  font-weight: 550;
  display: grid;
  grid-template-columns: 52% 16% 16% 16%;
  background-color: #b5ecc4;
}

.gradeSheet-info-items-inner {
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  hyphens: auto;
  font-size: 0.8rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-bottom: 1px solid #666e75;
  border-right: 1px solid #666e75;
}

/* .gradeSheet-info-items-inner:first-child {
  grid-column: span 4;
  border-left: 1px solid #666e75;
} */

.semester-name-holder {
  list-style-type: none;
  border-left: 1px solid #666e75;
  background-color: #d9e6f4;
}

.gradeSheet-info-items {
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  hyphens: auto;
  display: grid;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-bottom: 1px solid #666e75;
  border-right: 1px solid #666e75;
  /* justify-items: center; */
  align-items: center;
}

.gradeSheet-info-item-id {
  border-left: 1px solid #666e75;
}

.gradeSheet-info-item-id-inner {
  border-left: 1px solid #666e75;
}

.gradeSheet-list-header {
  font-weight: 600;
  font-size: 0.76rem;
}

.final-result {
  font-size: 0.8rem;
  font-weight: 550;
  color: var(--element-background-color);
  background-color: #0077ef;
}

.print-gradeSheet-btn-container {
  margin-top: 1rem;
  padding-bottom: 0.5rem;
}

.print-gradeSheet-btn {
  padding: 0.5rem 1.5rem;
  font-weight: 550;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  color: var(--element-background-color);
  background-color: #0077ef;
  border: none;
  cursor: pointer;
}

.print-gradeSheet-btn:focus,
.print-gradeSheet-btn:hover {
  background-color: #0973dd;
  outline-color: transparent;
}

/* Contact.jsx */
.contact-container {
  position: relative;
}

.contact-inner-container {
  padding: 0.5rem 2.1rem 0.5rem 2.1rem;
  margin: auto;
  width: 100%;
  height: calc(100dvh - 3rem);
  background-color: var(--element-background-color);
  /* background-color: red; */
}

.contact-inner-inner-container {
  /* padding: 0.5rem; */
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
}

.contact-info-holder {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  border-radius: 0.35rem;
}

.contact-det {
  display: flex;
  justify-content: space-between;
}

.att-key {
  /* display: flex; */
  width: 20%;
}

.contact-info-holder span {
  font-size: 0.85rem;
}

.contact-info-title {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 550;
  color: #008080;
  color: #2a4172;
  color: #2f4f4f;
  color: #dc143c;
}

.contact-info-holder a {
  text-decoration: none;
}

/* Payment (Admin)  */
.payslip-container {
  padding: 0.5rem 2.1rem 0.5rem 2.1rem;
}

/* AllStudents.jsx */

/* ScholarShip.jsx */
.scholarship-container {
  padding: 0.5rem 2.1rem 0.5rem 2.1rem;
}

.scholarship-inner-container {
  padding: 1rem;
  text-align: center;
  background-color: var(--element-background-color);
}

/* MedicalHelp.jsx */
.medicalHelp-container {
  position: relative;
  /* background-color: var(--element-background-color); */
}

.medicalHelp-inner-container {
  padding: 0.5rem 2.1rem 0.5rem 2.1rem;
}

.medicalHelp-content-container {
  padding: 1rem 1rem 1rem 1rem;
  background-color: var(--element-background-color);
  text-align: center;
}

.scholarship-content-container > span,
.medicalHelp-content-container > span {
  font-size: 1.3rem;
  font-weight: 550;
  color: #008080;
  color: transparent;
  background: linear-gradient(120deg, red, blue);
  background-clip: text;
}

@media (min-width: 1024px) {
  .finance-inner-container {
    width: 60%;
  }

  .finance-payment-bank-online-btns {
    width: 50%;
  }

  .gradeSheetIndividual-create-gradesheet-btn {
    width: auto;
  }

  .gradeSheetIndividual-create-semester-form {
    width: 70%;
  }

  .gradeSheetIndividual-semester-course-container {
    width: 70%;
  }

  .gradeSheetIndividual-gradeSheet-container {
    width: 70%;
  }

  .contact-inner-container {
    width: 80%;
  }

  .contact-inner-inner-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 580px) {
  .contact-det {
    /* background-color: red; */
    display: flex;
    justify-content: start;
  }
}

@media (max-width: 460px) {
  .finance-payment-status-form {
    grid-template-columns: 67% auto;
  }

  .finance-payment-status-btn {
    font-size: 0.72rem;
  }

  .download-slip-btn,
  .digital-pay-btn {
    font-size: 0.72rem;
  }

  .gradeSheetIndividual-create-semester-form {
    grid-template-columns: 60% auto;
  }

  .gradeSheet-list-header {
    font-size: 0.7rem;
  }

  .contact-iiner-container {
    padding: 0.5rem 1.35rem 0.5rem 1.35rem;
  }

  .contact-info-holder {
    font-size: 0.85rem;
  }

  .contact-info-title {
    font-size: 1rem;
  }

  .gradeSheet-container {
    padding: 0.5rem 1.3rem 0.5rem 1.3rem;
  }

  .gradeSheetIndividual-inner-container {
    padding: 0 1.3rem 0.5rem 1.3rem;
  }

  .finance-container {
    padding: 1rem 1.3rem 0.5rem 1.3rem;
  }

  .home-inner-container {
    padding: 0.5rem 1.35rem 0.5rem 1.3rem;
    /* background-color: red; */
  }

  .gradeSheet-info-items {
    font-size: 0.65rem;
  }

  .scholarship-container {
    padding: 0.5rem 1.35rem 0.5rem 1.35rem;
  }

  /* MedicalHelp.jsx */
  .medicalHelp-container {
    padding: 0.5rem 1.35rem 0.5rem 1.35rem;
  }
}
